<article class="post">
  <%= render 'slug', post: @post %>

  <% if @post.text? -%>
    <section class="body"><%= @post.body %></section>
  <% end -%>

  <%= render 'actions', post: @post %>

  <% if user_signed_in? %>
    <%= render 'comments/form', comment: @comment %>
  <% end %>

  <ol id="comments">
    <% @post.comment_threads.each do |comment| -%>
      <li>
        <div class="tagline" title="<%= comment.created_at %>">
          <%= comment.user.username %>
          <%= time_ago_in_words comment.created_at %> ago
        </div>
        <section class="comment-body">
          <%= comment.body %>
        </section>
      </li>
    <% end -%>
  </ol>
</article>
