<article class="post">
  <%= render 'slug', post: @post %>

  <% if @post.text? -%>
    <section class="body"><%= @post.body %></section>
  <% end -%>

  <%= render 'actions', post: @post %>

  <% if user_signed_in? %>
    <%= render 'comments/form', comment: @comment %>
  <% end %>

  <%= nested_ol @post.comment_threads, id: 'comments' do |comment| %>
    <div class="tagline" title="<%= comment.created_at %>">
      <%= comment.user.username %>
      <%= time_ago_in_words comment.created_at %> ago
    </div>
    <section class="body">
      <%= comment.body %>
    </section>
    <ul class="actions">
      <li><%= link_to 'reply', new_comment_path(parent_id: comment.id, format: 'js'), remote: true, method: :get %></li>
    </ul>
    <div id="reply-form-<%= comment.id %>" style="display: none">
    </div>
 <% end -%>
</article>
